---
import TankaLayout from '@/layouts/TankaLayout.astro'
import TankaCard from '@/components/tanka/Card.astro'
import Bar from '@/components/tanka/Bar.astro'
import PrevNext from '@/components/tanka/PrevNext.astro'
---

<TankaLayout title="夏の推し活短歌 | 北極のとある倉庫">
  <h1 class="title">推し活短歌 SUMMER TOUR 2024</h1>
  <div class="mainWrapper">
    <div class="mainContent js-tankaMain">
      <TankaCard id="1">
        <span slot="first-line">退屈な　日々はあまりに　早く過ぎ</span>
        <span slot="second-line">うだる暑さに　動かぬ身体</span>
      </TankaCard>
      <TankaCard id="2">
        <span slot="first-line">唐突に　きみがいうから　どうしたら </span>
        <span slot="second-line">おろおろして　右往左往して</span>
      </TankaCard>
      <TankaCard id="3">
        <span slot="first-line">きみにあう　準備を進める　カバンには</span>
        <span slot="second-line">光るライトと　きみへのチケット</span>
      </TankaCard>
      <TankaCard id="4">
        <span slot="first-line">すこしだけ　勇気をだして　踏み出して</span>
        <span slot="second-line">だから出会えて　幸せになれて</span>
      </TankaCard>
      <TankaCard id="5">
        <span slot="first-line">ほんとはね　疑ってたの　きみのこと</span>
        <span slot="second-line">この世なんかに　いないんじゃないかって</span>
      </TankaCard>
      <TankaCard id="6">
        <span slot="first-line">きみがいる　本当にいる　それならさ</span>
        <span slot="second-line">がんばってみても　いいかなって</span>
      </TankaCard>
      <TankaCard id="7">
        <span slot="first-line">また会える　その日目指して　鍛えるから</span>
        <span slot="second-line">再戦よろしく　おねがいします🐉</span>
      </TankaCard>
    </div>
    <PrevNext />
  </div>

  <Bar />
</TankaLayout>

<style lang="scss">
  .mainWrapper {
    display: flex;
    position: relative;
    .mainContent {
      display: flex;
      margin: 0 1rem;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .title {
    color: white;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
</style>
