---
import TankaLayout from '@/layouts/TankaLayout.astro'
import TankaCard from '@/components/tanka/Card.astro'
import Bar from '@/components/tanka/Bar.astro'
import PrevNext from '@/components/tanka/PrevNext.astro'
import Loading from '@/components/tanka/Load.astro'
---

<script>
  // TODO: 今は短歌ページが１つなのでここに書くがどこかで共通利用できるようにする
  // Layoutに寄せるか……？Layoutにしてはファットなように思う
  // そもそものベースのLayoutがファット過ぎてるのかもしれない

  const prev = document.querySelector('.js-prev')
  const next = document.querySelector('.js-next')
  const tankaList = document.querySelectorAll('.js-tankaCard')
  const tankaMainElement = document.querySelector('.js-tankaMain')
  let current = 0

  prev?.addEventListener('click', () => {
    if (current < 1) return
    current--
    tankaList[current].scrollIntoView({ behavior: 'smooth', inline: 'center' })
  })

  next?.addEventListener('click', () => {
    if (current >= tankaList.length - 1) return
    current++
    tankaList[current].scrollIntoView({ behavior: 'smooth', inline: 'center' })
  })

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const target = entry.target as HTMLElement
          if (!target) return
          current = Number(target.dataset.tankaid) - 1
          redrawBar()
        }
      })
    },
    {
      root: document.querySelector('body'),
      rootMargin: '0px',
      threshold: 0.8,
    }
  )

  tankaList.forEach((tanka) => {
    observer.observe(tanka)
  })

  document.addEventListener('astro:page-load', () => {
    tankaList[0].scrollIntoView({ behavior: 'smooth', inline: 'center' })
    setTimeout(() => {
      document.querySelector('.load')?.classList.add('hide')
    }, 180)
  })

  if (tankaMainElement)
    tankaMainElement.addEventListener('wheel', (event) => {
      const e = event as WheelEvent
      if (Math.abs(e.deltaY) < Math.abs(e.deltaX)) return
      e.preventDefault()
      tankaMainElement.scrollLeft += e.deltaY
    })

  const barElement = document.querySelector('.js-bar')
  const length = tankaList.length
  // currentに合わせてのびる
  const redrawBar = () => {
    if (!barElement || length === 0) return
    const elm = barElement as HTMLDivElement
    elm.style.width = `${(current + 1) * (100 / length - 1)}%`
  }
</script>

<TankaLayout title='北極の とある倉庫'>
  <Loading />
  <div class='mainWrapper'>
    <div class='mainContent js-tankaMain'>
      <TankaCard id='1'>
        <span slot='first-line'>短歌一 テキスト テスト</span>
        <span slot='second-line'>二行目は 改行したい</span>
      </TankaCard>
      <TankaCard id='2'>
        <span slot='first-line'>短歌二 テキスト テスト</span>
        <span slot='second-line'>二行目は 改行したい</span>
      </TankaCard>
      <TankaCard id='3'>
        <span slot='first-line'>短歌三 テキスト テスト</span>
        <span slot='second-line'>二行目は 改行したい</span>
      </TankaCard>
      <TankaCard id='4'>
        <span slot='first-line'>短歌四 テキスト テスト</span>
        <span slot='second-line'>二行目は 改行したい</span>
      </TankaCard>
      <TankaCard id='5'>
        <span slot='first-line'>短歌五 テキスト テスト</span>
        <span slot='second-line'>二行目は 改行したい</span>
      </TankaCard>
    </div>
    <PrevNext />
  </div>

  <Bar />
</TankaLayout>

<style lang='scss'>
  .mainWrapper {
    display: flex;
    position: relative;
    .mainContent {
      display: flex;
      margin: 0 1rem;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
</style>
