---
import { styleHelper } from '@/utils/styleHelper'
import { COLORS_LIST } from '@/constants/colors'

const defaultColor = COLORS_LIST[0]

const STYLE = styleHelper([
  { name: 'bgColor', value: defaultColor.bgColor },
  { name: 'textColor', value: defaultColor.textColor },
  { name: 'linkColor', value: defaultColor.linkColor },
])
---

<body style={STYLE}>
  <slot />
</body>
