---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import Menu from '@/components/feature/Menu.astro'

const title = '龍神様のはじまり'
---

<Layout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/ryu-no-ko/doragon-god.png`}
>
  <Card>
    <h1>{title}</h1>
    <div class="novel">
      <p>にわとりか、たまごか。親が先か、子が先か。</p>

      <p>
        それらの答えはわからないが、私は、龍神は、『ヒトの想像』から産まれた。
        ヒトがそう想うから、私は『そう』産まれた。しかし、産まれたその先は、ヒトの想いの外だ。
      </p>

      <p>
        ヒトが増えるにつれ、社会が形成されるにつれ、願いは増えた。仕事は増えた。
        私はヒトの想った『神』であろうとした。
        しかしながら、私は全知ではなく、全能ではなかった。
        ヒトは全知ではなく、全能ではないから。その『ヒト』から産まれた私も、全知ではなく、全能ではなかった。
      </p>

      <p>私の能力は限られていた。やがて限界がきた。</p>

      <p>
        村を訪れる呪いを返す中で、疲労が限界に達して、意識が朦朧として、どうなったのかは、覚えてなかったが、自分のせいで、その子は命を落としたのだと理解した。
        ひとりでやっていくのは限界なのだと、理解した。
      </p>

      <p>
        申し訳ないと思った。自分のせいで命を落とした子に、そんなことを頼むなんて、とは思った。
        しかし最早限界なのだ。私は全能ではないのだ。誰かに助けを求めるしかない、そういう場面にきてしまっているのだ。
        『神は孤高である』そんなヒトの理想を体現できるような能力が私にはないのだ。
        今の私が守るべきは今生きてるヒトの命であって、自分の理想の姿なんかではないのだ。
      </p>

      <p>「龍の子に、成ってはくれないか」</p>

      <p>
        断ることはないと知っていた。『そう』だからこそ、その子に頼んだ。ずるいかもしれない。ただ、ただ、もう、私も限界だったのだ。
      </p>

      <p>
        彼女は少し微笑んで、承諾してくれた。それのなんと、なんと深い安堵だったことか。断ることはないと知っていても、もし、もしその子が固辞すれば、私にはひきとめる術はなかった。無理にさせるようなものでもない。
      </p>

      <p>ああ、もう、ひとりでやらなくていいのか、</p>

      <p>
        それが、とてつもなく、幸福なことであることを、私は後に知ることになる。
      </p>
    </div>
  </Card>
  <Menu class="menu" />
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  hr {
    width: 100%;
    border: 1px #ccc solid;
  }
  .novel {
    margin: 0 1rem;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    p {
      margin: 2rem 0;
      line-height: 2;
    }
    img {
      width: 100%;
    }
  }
</style>

<style lang="scss" is:global>
  .menu {
    margin-top: 40px;
  }
</style>
