---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import Menu from '@/components/feature/Menu.astro'

const title = 'モモと龍神様'
---

<Layout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/momo-and-dragon.png`}
>
  <Card>
    <h1>{title}</h1>
    <div class="novel">
      <p>
        龍神様は今までずーっと、ひとりだったらしい。
        たくさんの人間の願いを、呪いを、ひとりで捌いていて、それが限界にきてしまったのが、先の嵐だったそうだ。
      </p>

      <p>
        ひとりじゃ無理だよねえ。そう思って、龍神様のお仕事の手伝いをはじめた。
        最初は一緒に巡回。巡回途中に出会った色々な不具合をなおしたり。
        願いの仕分け、対応とかもちょっとずつはじめた。<br />
        呪いの消化はまだ私に関わらせるのは心配だから、と龍神様がひとりでやっていた。龍神様ひとりでやるのも私も心配なのだが、足手纏いになってもしょうがないしな、と思って食事の用意とか、呪いの消化を終わって疲れた龍神様がすぐに回復できるように、準備をするのに努めた。
      </p>

      <p>
        龍神様はなんていうか、すごい量の役目をこなしていた。<br />
        数年経って、私ができることもだいぶ増えた。それでも、私たちは毎日めまぐるしく働いていた。龍神様は私よりもずっとずっと働いていた。私がいても、龍神様は楽になった感じは全然なかった。というか、社会の発達に合わせて、人の願いもどんどん増えている気がする。人々の幸せも増えている、そんな気はするのだけど…だんだん、捌ききれるか、どうか、になってきた。
      </p>

      <p>「あ、」</p>

      <p>
        間に合わなかった。
        龍神は、命は食べない。祈りを食べる。祈りと捧げられたモノを食べる。なので、生贄とか、そういうのは龍神には要らないのだ。<br
        />
        まったくもう、池に投げ込むなんて。野蛮すぎる。どこから来た風習なのか。心優しいひとりに祈りの役を任せるより、皆で祈った方が良いとか、思わないのだろうか。まったく。まあ、気づいたとて、私たちはヒトには直接干渉できない。わりとどうしようもないのだが、こんな野蛮なことは、はやくやめてほしい、と思う。
      </p>

      <p>龍神様を呼びに行く。</p>

      <p>「そんな風習が流行っている、という話は、聞いていたがなあ」</p>

      <p>
        干ばつになっているのは、龍神への祈りが足りないからじゃないのだ。龍神にもどうしようもないくらい、今年は雨の気配がこのへんにないのだ。さすがに0から雨を降らせられるほど、龍神は全能じゃない。
      </p>

      <p>「ううむ…なあ、モモ」</p>

      <p>
        龍神様は地上を見る水鏡を見ながら、私の名を呼ぶ。
        龍の子になった時、桃色の髪になったので、モモ。安直な名前だ。
      </p>

      <p>「そろそろ、もうひとり増やしても…いいだろうか…」</p>

      <p>
        龍神様は、時々、いや、基本的に、超がつくほど真面目だ。
        真面目というか、龍神様自身が『つよくてかっこいいかみさま』という理想で作られているので、龍神様もそれを体現しようとしてしまう。そういう性質と言っていいだろう。逆に私は元人間なので、そのへんの感覚は龍神様よりは人間的だ。何年も龍の子をやっているので、人間らしくなくなったところもあると思うが、まあ、神として生まれた龍神様に比べたら、一般的な人間の感覚に近いだろう。そして、龍神様の大変なところが『つよくてかっこいいかみさま』を体現しようとするわりに、この人はちょっと色々能力があるだけのヒトなのだ。ヒトの想いからできているので、ヒトの想像力の限界が、龍神様の限界なのだ。
      </p>

      <p>
        「むしろ、増やしてほしいです。なれるひとなら、積極的に成ってもらってもいいんじゃないですか」
      </p>

      <p>
        龍の子は、誰でも成れるものではない。私にはまだわからないが、龍神様には成れるか成れないか、わかるらしい。そして龍の子に成れる魂は、数年に1度現れるかどうか、という感じだ。今まではモモの教育中だから…と龍神様もいくつかの魂を見送っていたが、私にできることもだいぶ増えたし、弟妹の指導もできる頃だろう。数年に1度、弟妹が増えるくらいなら、問題はない。むしろ、正直、年々仕事が増えている気がするので、増えて欲しい。私まで倒れるわけにはいかないのだ。
      </p>

      <p>「そうか…うむ…」</p>

      <p>悩んでる気配を察知。</p>

      <p>
        「龍神様。多くの神使を従え、広く人々を見守るのも、神のお役目ですよ」
      </p>

      <p>龍神様は目を丸くして、ふむ、と頷いた。</p>

      <p>
        「確かに、龍の子が増えれば、神として為せることも増えるか。そうだな。迎えに行ってくる」
      </p>

      <p>
        よし。龍神様の体現する理想はかなりあいまいな、人間の集合意識としての『なんかつよくてかっこいいかいさま』なので、人間視点で『具体的にはこういうのがかっこいいと思う！』と言うと、説得しやすい。神様も『神様像』には悩むんだなあ、とか思いながら、新人を迎えに行く龍神様を見送る。
      </p>

      <p>
        新人はどんな子かな、どんな挨拶をしようか、何から案内しようか、そんなことに思考を巡らせながら、龍神様が新人を迎えるのを地上を見る水鏡から眺めていた。
      </p>
    </div>
  </Card>
  <Menu class="menu" />
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  hr {
    width: 100%;
    border: 1px #ccc solid;
  }
  .novel {
    margin: 0 1rem;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    p {
      margin: 2rem 0;
      line-height: 2;
    }
    img {
      width: 100%;
    }
  }
</style>

<style lang="scss" is:global>
  .menu {
    margin-top: 40px;
  }
</style>
