---
import NovelLayout from '@/layouts/NovelLayout.astro'

const title = 'モモの過去'
---

<NovelLayout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/ryu-no-ko/momo.png`}
>
  <p>
    村の裏の森には、龍が棲むといわれる、きれいな泉がある。村人たちは定期的に泉に捧げものをして、私も時々、捧げものを置く係をした。泉に捧げるのは、野菜や魚と決まっていた。捧げものはいつの間にかなくなっている。森の獣たちが食べているのだとは思うが、村人たちはそれを『龍が森の獣たちにわけているのだ』と思っている。
  </p>

  <p>
    今日の捧げものを持って、泉の傍に立つ。泉は今日も深い青をしている。のぞき込んでも底は見えない深い青。捧げものを祭壇において、祈りを捧げる。今日も、村が平和でありますように、と。祈り終わって、背中を向けて歩き出す。ふと何かの音がした気がして振り返るが、何もない。風の音かな。そう思って歩き続け、村に戻る。
  </p>

  <p>
    私たちの村は小さな農村で、土地は肥沃で、雨もほどほどに定期的に降る良い土地だ。時々罠をしかければ獣は獲れるし、たぶん近隣の農村の中でもかなり良い暮らしをしているのではないだろうか。定期的に立ち寄る商人に保存が効く加工をした作物を売っては、つつましく暮らしている。商人は最近は他のところでは不作が続いているので気を付けてくれ、と警告した。確かにウチの村は、飢えとは無縁だし、危ないかも、と思って、村の人々は商人や旅人の意見を参考に、柵を作ったりした。したのだが、隣の村が襲われたりしたが、ウチの村は襲われることもなく。これも龍神様の加護かなあ、ということで、捧げものが少し豪華になった。捧げものを少し豪華にしたら、畑の作物の実りも少しよくなった。
  </p>

  <p>
    今日も泉をのぞき込む。底には何も見えない。まあでも、家の壁みたいなもんか。と思って立ち去る。龍神池の水面は今日も静かに揺れている。
  </p>

  <p>ある日、大雨が降った。村にしては珍しい大雨だ。</p>

  <p>
    龍神様を怒らせてしまったのだろうかと、村人たちは村の集会所で話し合った。すこし豪華にしたせいだろうか？それとも追加したものが気に入らなかった？前回はちょっと足りなかった？でも今まで、捧げものの内容云々でこんなことがあったことはないから、もっと違う理由ではないか？憶測が飛び交う。誰かが、怒りを鎮めてもらうための捧げものをすべきではないか、と言い出した。村人たちはうーむ、と唸る。そうかもな、と誰かが言う。でも大雨だぞ、と誰かが言う。
  </p>

  <p>「私、行ってくるよ」</p>

  <p>
    私は村で1番、足がはやい。運動も得意だし、護身のためにみんなで教え合っている武術だって、体格の不利が大きすぎなければ結構強い。
  </p>

  <p>「でも、」</p>

  <p>母が私の裾を掴む。</p>

  <p>
    「このままじゃ地中の作物はダメになっちゃうし、植えたばかりの種もダメになっちゃう。大丈夫だよ、さっといって、お祈りして、戻ってくるから」
  </p>

  <p>
    母の手を両手で握りしめる。
    母は渋々、という顔で、気を付けてね、と小さく言った。<br />
    それからすぐに村人たちで捧げものを用意した。私はそれを鞄に積めて、背負う。結構重いが、まあ大丈夫だろう。泉はそんな遠くない。
  </p>

  <p>「いってきます」</p>

  <p>
    威勢よく、雨の中を駆け出す。雨は冷たく、粒が大きく、勢いは強い。肌に打ちつける雨粒が少し痛い。視界は悪いし、服の中も靴の中もすぐぐしょぐしょになった。幸いなのは、夏の昼なことか。冬だったら、凍えていただろう。森を視認する。ここまでは順調。森の中は少し、細い道があるので注意しないと。森に入れば木々があって少しはマシになるかと思ったが、森がいつもより湿って薄暗く、枝からこぼれる雨は小さな滝を幾つも作り、雨粒は葉を打つ音だけが耳に入る。
  </p>

  <p>
    思ったよりヤバいかも。と思った。森の中で視界が効かないのも、音が聞こえづらいのも、そして足下が悪いのも、全部がキツい。だが、この捧げものをしないと、みんなが。少し怖気づいた心を奮起させて、足を踏み出した。ぬかるみに足をとられて、何度か転びかける。靴は泥まみれだ。ぬかるみが体力を奪う。鞄にまとわりついた雫のせいで荷物が出てきた時より重く感じる。あまりに湿っていて、呼吸がしづらい。
  </p>

  <p>
    呼吸のしづらさで、酸素の少なさで、判断力が落ちていたのだろう。木の根っこに足をひっかけた。態勢を立て直そうとするも、荷物にひっぱられて、ダメだった。不運だった。細い道だった。横は崖だった。落ちるその時、思ったのは、
  </p>

  <p>「かあさん、」</p>

  <p>大丈夫だって、いったのに。ごめんなさい。</p>

  <p></p>

  <p>黄金の瞳が心配そうにのぞき込んでいた。</p>

  <p>「りゅうじんさま？」</p>

  <p>
    こくり、と頷いた。なんとなくわかったのだ。なんといえばいいか。纏う雰囲気が、龍神の泉そのままなのだ。
  </p>

  <p>「申し訳ない。力を暴走させてしまって…」</p>

  <p>
    しゅん、とした擬音がしそうなくらい、申し訳なさそうな顔をしている。纏う雰囲気は龍神様なのだが、なんというか…思っていたよりも何でもできる超常的存在ではなかったのかもしれない。
  </p>

  <p>
    「他からの呪いがひどくてな…そっちを退けていたら、こんなことに…本当にすまない」
  </p>

  <p>龍神様は頭を下げた。</p>

  <p>「そんな、顔を上げてください」</p>

  <p>龍神様は顔を上げてくれたが、悔しそうに手を握る。</p>

  <p>
    「こんなことになった後で、こんなことを頼むのは申し訳ないのだが、手を貸してもらえないだろうか」
    「私にできることでしょうか」 <br />
    「汝にしか頼めないのだ」
  </p>

  <p>龍神様は黄金の瞳で私をまっすぐに見つめる。</p>

  <p>
    「龍の子と、成ってほしい。そして我とともに、ヒトの世を見守ってほしいのだ」
    <br />
    「龍の子というのは…私にでもなれるのでしょうか」 <br />
    「ヒトへの愛があれば、それで充分だ」
  </p>

  <p>
    ヒトへの愛。あるだろうか。ヒトを愛してると、言えるだろうか。ただ、村の人たちは心配だな。畑は、大丈夫だったかな。でも、村の外まで心配かというと、どうかな。微妙な気がするな。
  </p>

  <p>「汝は充分ヒトを愛しているよ。ずっと見ていたからな」</p>

  <p>
    私の心配を見抜いたかのように、龍神様は言った。ずっとみていた。そうか、あの泉を通して、龍神様は私を見てくれいていたのだか。泉から帰る時に時々感じる気配は、龍神様がこちらを見ていた気配だったのかもしれない。
  </p>

  <p>
    「あとは…恥ずかしい話だが、人手不足でな…手が回ってない状態なのだ。なので…その…」
  </p>

  <p>
    超常的な存在だと思っていた龍神様が、意外と人間らしくて、親近感が湧いてきた。ちょっと頬がほころぶ。
  </p>

  <p>「わかりました。やります」</p>

  <p>
    できるかどうかはわからない。不安はある。でも、目の前に困ってる人がいる。いや、人ではなくて龍神様だが、龍神様だってひとりで何もかもこなせてしまう超常的存在ではないらしい。見た感じ龍神様は今はひとりでお役目をこなしているようだ。たったひとりで私たちを守ってくれていた龍神様と一緒にお役目をするんだよ、ということであれば、帰らなくても母も許してくれるだろう。いや。まあ、わからないだろうけども。いや、でも母だから、わかってくれるかも。
  </p>
</NovelLayout>
