---
import NovelLayout from '@/layouts/Layout.astro'

const title = 'スイの過去'
---

<NovelLayout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/ryu-no-ko/sui.png`}
>
  <p>
    身体の弱い子どもでした。
    熱がなく元気な日は珍しい方で、いつも両親を心配させていました。
    それでも両親は必死に私を守り育ててくれました。外で遊べない私に与えられたのはいくらかの本。
    身体の弱い分、せめて勉学だけは、と、両親は私に本を与えてくれたのでした。
    私もその気持ちにこたえるように、少ない本の一言一句を覚えんとする勢いで、学びました。
  </p>

  <p>
    ある年、村を干ばつが遅いました。
    貧しい農村にとって干ばつは飢饉も意味します。
  </p>

  <p>『龍神さまに、雨ごいをしよう』</p>

  <p>
    村の誰かがそう言いました。
    村の裏の山にある龍神池。濁って底は見えないけれど、不思議な青色をした池です。雨ごいには生贄が必要です。
  </p>

  <p>『＊＊は身体が弱い。どうせ長くは生きないのだから』</p>

  <p>
    村の誰かがそう言いました。 ええ。私もそれが、合理的な判断だと思います。<br
    />
    母は泣きながら抵抗しました。身体の弱い私がどうせ長く生きないのは、身体の弱い私がいない方が両親も兄弟も楽になることは、母が1番わかってるだろうに。でも私はそれで充分でした。こんな私のために母が泣いてくれる。それだけで私の今生は充分であると、思ったのです。
  </p>

  <p>『かあさま。わたしも、おやくにたちたいの。』</p>

  <p>
    母は一層泣きました。涙が枯れ果ててしまうのではないかというくらい泣きました。
    彼女の涙は枯れることはなく、私を強く強く抱きしめて、泣きました。
  </p>

  <p>『ごめんなさい、母をゆるして』</p>

  <p>
    私は最初から、母を恨んでなどいないのに。私はそっと、母を抱きしめ返しました。<br
    />
    そして私は、足に重石をつけて、龍神池に放り込まれました。 放り込まれるその時、目は閉じていました。何も聞かないようにしました。心を無にしました。
    母を見たくなかったのです。 私のために泣く母を見たくなかった。
  </p>

  <p>つめたい水の中におちゆく中で、私は母のことだけを想っていました。</p>

  <p>
    こんな、迷惑をかけてばかりの娘のために、泣いてくれた母。
    どうか母が笑顔になりますように。それだけを願っていました。命も尽きようという頃、ふ、と楽になりました。
    目の前がまぶしいきがして目を開くと、そこには美しい人が佇んでいました。美しい人は黄金の瞳で私をじっと見つめます。どのくらい見つめ合ったでしょうか。美しい人は、私の頬に手を伸ばしました。
  </p>

  <p>
    「今も母の幸せを願っているか？」 <br />
    「ええ、ええ。あなたは、母を幸せにしてくれる人ですか？」 <br />
    「否。我は、ヒトに干渉すること能わず。我にできるのは、少しの雨をもたらすことくらいだ」<br
    />
    「少しで構わないのです。村の乾ききった畑が湿る程度にでも雨が降れば、乾きに強い作物くらいは実るでしょう。どうか、母が、父が、兄弟姉妹が、飢えて死ぬことのないようにしてくださいまし。私に続いて、兄弟姉妹まで失ったら、母はまた泣いてしまう。私は母に幸せであって欲しいのです。母に笑顔でいて欲しいのです。どうか、美しい人よ。私の命と引き換えに、母を幸せにしてくださいまし」<br
    />
    「己の命は要らぬと、申すか」<br />
    「いいえ。引き換えです。母を幸せにせぬというのであれば、差し上げません」
  </p>

  <p>美しい人は、厳格そうな顔を、ふ、とゆるめた。</p>

  <p>「よかろう。汝の命は、我が預かる」</p>

  <p>
    美しい人は龍と成り、私を背に乗せました。龍の下に雨が降る。その様を、私は龍の背から見守りました。
  </p>

  <p>
    「ありがとうございます。これで、心置きなくこの命を終えることができます」
  </p>

  <p>美しい人は首を傾けて、笑った。</p>

  <p>
    「人は龍が人を喰うと思うことが多いが、我々はモノを喰わぬ。贄も本当は要らぬのだ、純粋な願いさえあれば良い」
  </p>

  <p>龍は私に一歩歩み寄る。私は龍を見上げる。</p>

  <p>
    「とはいえ、汝の肉体の命は尽きてしまった。汝の願いの純度は、次もヒトをさせるには惜しい。汝が良ければ、龍の子になってみる気は、ないか？」<br
    />
    「私が龍になるのですか？」<br />
    「成れるかは、汝次第だ。ヒトの世を見守る役だ。ヒトを愛している汝には向いてると思うがね」
  </p>

  <p>
    私は、力なき者だった。この命と引き換えにすることでしか、母に報いることができなかった。力があれば、私は母を泣かせずに済んだのかもしれない。
  </p>

  <p>
    こくり、と頷いた。龍は優しく笑い、私の頭を撫でた。その笑顔が、手が、母に重なった。
  </p>
</NovelLayout>
