---
import NovelLayout from '@/layouts/NovelLayout.astro'
import { Image } from 'astro:assets'
import Img from './_naiteiinoha.jpeg'

const title = '泣いていいのは、私ではない。'
---

<NovelLayout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/nidohanai/naiteiinoha.png`}
>
  <Image
    src={Img}
    alt="泣いていいのは、私ではない。"
    width={450}
    height={450}
  />
  <p>あなたはあまりにもあっけなく、いってしまった。</p>

  <p>
    もっとできることはなかっただろうか。私は、精一杯、手を尽くせていただろうか。あなたのために、何かを、何かをしているつもりだった。精一杯だったように思う。でもそれは正しかったのだろうか。私のやったことは、ほんとうに、あなたのためだったのだろうか。
  </p>

  <p>痛い。</p>

  <p>
    ああきっと、あなたはこの何倍も、ずっとずっと痛かった。私は不足だった。それはわかっている。あなたがここにいないこと、それがその証明だ。私は私にとってのできる限りを、やった、そう思いたい。だけれども、世界は、この世界は、あまりにも冷たく厳しく残酷で。私だけでは、あなたを世界から守り切れなかった。
  </p>

  <p>
    ああ、あなたを傷つける世界なんて、壊れてしまえばいいのに。あなたがいない今、もう、そんなことを考えても、願っても、思っても、希っても、まったくもって、いみがないのだけれど、でも、でも、願わずには、思わずには、いられないのだ。ねえ、どうして、あなたがいないの？どうして、あなたのうつくしい、ささやかな、ちいさな平穏すら、守れなかったの？どうして、あなたのささやかな平穏を害する人たちは、いまも、この世界で、笑って暮らしているの？
  </p>

  <p>ああ、泣いていいのは私ではない。私は、泣いてはいけない。</p>

  <p>あなたはもっとずっと痛かった。</p>

  <p>あなたを守れなかった私は、泣くべきではない。</p>

  <p>誰が許そうとも、私が許さない。</p>
</NovelLayout>

<style lang="scss">
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>
