---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title='水のたまゆら はじまり'>
  <main>
    <div class='inner'>
      <div class='card'>
        <p>世界はゆっくりと水に沈んでいった。</p>
        <p>
          人々も世界がゆっくりと水に沈んでいることは認識していた。<br />
          認識していたからこそ、人々はゆっくりと、そんな世界に適応していった。
        </p>
        <p>
          ビルが1階から沈みゆくのであれば、上へ上へと居を移せばいい。<br />
          低い土地が沈むのであれば、高い土地へと居を移せばいい。<br />
          そして、あまりにもゆっくりだったから、人々は、今までの住まいのまま、水の下で住まう技術も、作ることができた。<br
          />
        </p>
        <p>
          水の上へ、下へ。<br />
          人々は分かれて暮らした。
        </p>
        <p>
          水の下はしっかりとインフラが整備されている。<br />
          水の上よりもお金が必要だが、あれこれ機械があり、人がいる分、仕事も多い。
        </p>
        <p>
          水の上は打ち捨てられたような生活だ。<br />
          それでもここには日光があり、空気がある。
        </p>
        <p>
          どちらが良い、などない。<br />
          どちらだって昔とは違う。<br />
          どちらかを選ぶしかない。
        </p>
        <p>これはそんな世界で暮らす、人々の話。</p>
      </div>
      <a href='/'><img src='/icon/return.gif' /></a>
    </div>
  </main>
</Layout>

<style lang='scss'>
  .card {
    background: rgba(222, 250, 255, 0.8);
    max-width: 980px;
    width: calc(100% - 48px);
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 24px;
    border-radius: 8px;
    color: rgb(9, 51, 58);
  }
  a {
    display: block;
    margin-top: 42px;
    text-align: center;
    img {
      width: 42px;
      height: 42px;
    }
  }
  .inner {
    padding: 24px;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    background: rgba(60, 211, 238, 1);

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: url('/bg/tamayura/abstract.jpg') no-repeat center bottom;
      background-size: contain;
      z-index: -2;
      opacity: 1;
    }
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(
        rgba(60, 211, 238, 1) calc(100vh - 100vw * 0.95),
        rgba(60, 211, 238, 0) calc(100vh - 100vw * 0.7)
      );
      z-index: -1;
      opacity: 1;
    }
  }
</style>
