---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout
  title="水のたまゆら 瀬知と司"
  cardTextColor={"rgb(9, 51, 100);"}
  cardBgColor={"rgba(222, 250, 255, 0.85);"}
  bgColor={"0, 6, 24"}
  bgUrl={"url('/bg/tamayura/rainy.webp')"}
>
  <p>
    薄暗い部屋、ソファの上、少年は薄手のブランケットを頭から被っていた。視線は窓の外、雨模様。

    <br />
     二階建ての最上階のこの部屋では、雨音がとんとんとん、屋根に落ちる音が聞こえている。
  </p>
  <p>「どうしたの」</p>
  <p>
    少年に問いかける。彼は普段からアンニュイだが、こんな頭からブランケットを被るようなことはしない。
  </p>
  <p>「雨が好きじゃないんだ」</p>
  <p>
    雨模様の窓から目を逸らさずに彼は言う。窓にはカーテンはついている。
    <br />
     なぜ、と思ったが、知りたい答えは得られないとわかっていたので、やめた。
  </p>
  <p>「ココアでも飲む？」</p>
  <p>
    追及の代わりに、情愛を。<br />
     自分が彼にできるのは、そのくらいだと思うから。
  </p>
  <p>「コーヒーがいい」</p>
  <p>「寝れなくなるよ」</p>
  <p>「眠りたくないんだ」</p>
  <p>わかった。そう答えて、部屋を後にする。</p>
  <p>
    好きでは無い雨の音なんて聞かず、
    <br />
     はやく眠ってしまえばいいのに。
    <br />
  </p>
  <p>
    そうは思ったが、きっと、彼なりの向き合い方で、彼なりの懐古で、彼なりの憧憬で
    、彼なりの贖罪なのだろうと、思うことにした。
  </p>
  <p>キッチンでひとり、湯を沸かす。</p>
  <p>
    もし俺が彼に、ひとりはきらいなんだと彼に告げたら、彼はここに一緒に立ってくれているだろうか、なんて考えながら。
  </p>
</DefaultLayout>
