html {
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: rgb(var(--bgColor));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.7;
  margin: 1rem 0;
}

h1,
h2 {
  margin: 0 0 0.5rem;
}

h3 {
  margin: 0 0 0.5rem;
}

hr {
  border: none;
  border-top: 2px double #cccccc;
  margin: 1.5rem auto;
  width: 95%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  color: rgb(var(--linkColor));
  &:hover {
    text-decoration: none;
  }
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px - 16px * 2 - 42px - 16px * 2 - 37px - 16px * 2);
  // ヘッダ高 - ヘッダ余白 - 戻る高 - 戻る余白 - フッタ高 - フッタ余白
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 360px;
}
