html {
  font-family: system-ui, sans-serif;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.2rem;
  color: rgb(var(--textColor));
}

body {
  margin: 0;
  background: rgb(var(--bgColor));

  @media (min-width: 801px) {
    min-width: auto;
    border-radius: 40px;
    margin: 24px 16px;
    padding: 24px 40px;
  }
  @media (max-width: 800px) {
    min-width: auto;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 1rem 0;
  color: rgb(var(--textColor));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

p,
small {
  line-height: 1.75;
}

h1,
h2 {
  margin: 0 0 0.5rem;
}

h3 {
  margin: 0 0 0.5rem;
}

small {
  font-size: 0.75rem;
}

hr {
  border: none;
  border-top: 2px double #cccccc;
  margin: 1.5rem auto;
  width: 95%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  color: rgb(var(--linkColor));
  &:hover {
    text-decoration: none;
  }
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px - 16px * 2 - 42px - 16px * 2 - 37px - 16px * 2);
  // ヘッダ高 - ヘッダ余白 - 戻る高 - 戻る余白 - フッタ高 - フッタ余白
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 16px;
  width: 100%;
}
