---
import ListImage from '@/components/ListImage.astro'
import Title from '@/components/Title.astro'
import { allCharacterList } from '@/data/character/index'

const list = allCharacterList.map((item) => {
  return {
    path: `/character/${item.slug}/`,
    img: item.img,
    alt: item.name,
  }
})
---

<div class="root">
  <Title text="キャラ一覧" />
  <ListImage list={list} />
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
  }
</style>
