---
import { HistoryList } from '@/data/history'
import { getDate } from '@/utils/dateHelper'
---

<div class="root">
  <h2>更新履歴</h2>
  <ul>
    {
      HistoryList.map((item) => (
        <li>
          <p>
            <span class="date">{getDate(item.date)}</span>
            <span class="historyItem" set:html={item.description} />
          </p>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        display: flex;
        margin: 0;
        gap: 1rem;
        align-items: baseline;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0;
          margin: 1rem 0 0 0;
          .date {
            font-weight: bold;
          }
        }
        .date {
          flex-shrink: 0;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
</style>

<style lang="scss" is:global>
  .historyItem {
    p {
      margin: 0;
    }
  }
</style>
