---
import ListImage from '@/components/ListImage.astro'
import Title from '@/components/Title.astro'
import ImgDoodleBanner from '@/img/doodle.png'
import { Image } from 'astro:assets'
import { ILLUST_LIST } from '@/data/illust'

const list = ILLUST_LIST.map((item) => {
  return {
    path: `/illust/${item.slug}/`,
    img: item.img,
    alt: item.title,
  }
})
---

<div class="root">
  <Title text="イラスト一覧" />
  <ListImage list={list} />
  <a href="https://doodle.manasas.dev/" target="_blank">
    <Image src={ImgDoodleBanner} alt="北極の らくがき倉庫" width={300} />
  </a>
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
    img {
      border: 1px solid #ccc;
      width: 100%;
      max-width: 300px;
    }
  }
</style>
