---
import { getSimpleNovelList } from '@/lib/newt/novel'
import { getSeriesList } from '@/lib/newt/series'
import { Image } from 'astro:assets'
import NovelItem from '@/components/NovelItem.astro'
import RyuNoKo from '@/data/novel/ryu-no-ko/banner.png'

const novels = await getSimpleNovelList()
const seriesList = await getSeriesList()
const seriesNovelList = seriesList.map((series) => {
  return {
    series: series,
    novels: novels.filter((novel) => novel.series.slug === series.slug),
  }
})

const AllNovelList = seriesNovelList
const isMenu = Astro.url.pathname !== '/'
---

<div class={isMenu ? 'menu' : 'topMenu'}>
  <h2>Novel</h2>
  {
    AllNovelList.map((item) => (
      <>
        <h3>{item.series.title}</h3>
        <ul class="novelList">
          {item.novels.map((novel) => {
            return <NovelItem slug={novel.slug} title={novel.title} />
          })}
        </ul>
      </>
    ))
  }
  <h3>ちぐはぐをゆるして</h3>
  <ul>
    <NovelItem slug="tighag" title="ちぐはぐをゆるして" />
  </ul>
  <ul class="novelList"></ul>
  <h3>
    <a href="/novel/ryu-no-ko">
      <Image src={RyuNoKo} alt="龍の子" height={40} width={200} />
    </a>
  </h3>
</div>

<style lang="scss">
  .topMenu {
    width: 90%;
    margin: 0 auto;
    ul {
      margin-bottom: 2rem;
    }
  }
  .menu {
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 8px;

    h2 {
      font-size: 1.5rem;
      margin: 0.3rem 0 1rem 0;
    }

    h3 {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }

    ul {
      margin: 0.5rem 0;
    }
  }
</style>
