---
import { Image } from 'astro:assets'
import NovelItem from '@/components/NovelItem.astro'
import RyuNoKo from '@/data/novel/ryu-no-ko/banner.png'

const isMenu = Astro.url.pathname !== '/'
---

<div class={isMenu ? 'menu' : 'topMenu'}>
  <h2>Novel</h2>
  <h3>朱を交える</h3>
  <ul>
    <NovelItem slug="syumaji/shinsyunoichinichi" title="真朱の1日-夏の手前-" />
  </ul>
  <h3>人生に二度はない</h3>
  <ul>
    <NovelItem
      slug="nidohanai/naiteiinoha"
      title="泣いていいのは、私ではない。"
    />
  </ul>
  <h3>水のたまゆら</h3>
  <ul>
    <NovelItem slug="tamayura/tamayura" title="はじまり" />
  </ul>
  <h3>ちぐはぐをゆるして</h3>
  <ul>
    <NovelItem slug="2025april1" title="ちぐはぐをゆるして" />
  </ul>
  <ul class="novelList"></ul>
  <h3>
    <a href="/novel/ryu-no-ko">
      <Image src={RyuNoKo} alt="龍の子" height={40} width={200} />
    </a>
  </h3>
</div>

<style lang="scss">
  .topMenu {
    width: 90%;
    margin: 0 auto;
    ul {
      margin-bottom: 2rem;
    }
  }
  .menu {
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 8px;

    h2 {
      font-size: 1.5rem;
      margin: 0.3rem 0 1rem 0;
    }

    h3 {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }

    ul {
      margin: 0.5rem 0;
    }
  }
</style>
