---
import { allTankaList } from '@/data/tanka/index'
---

<div class="topMenu">
  <h2>短歌</h2>
  <ul class="novelList">
    {
      allTankaList.map((tanka) => (
        <li>
          <a href={`/tanka/${tanka.slug}`}>{tanka.name}</a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .topMenu {
    width: 90%;
    margin: 0 auto;
    li {
      margin-left: 1rem;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
</style>
