---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import { Image } from 'astro:assets'
import { mySiteName } from '@/constants/constants'
import Title from '@/components/Title.astro'
import ImageLinkList from '@/components/ImageLinkList.astro'
import BannerImage from '@/img/banner.png'
import { SearchLinks } from '@/data/link/search'
import { DoumeiLinks } from '@/data/link/doumei'
---

<Layout title={mySiteName}>
  <Card>
    <div class="inner">
      <Title text="このサイトについて" />
      <p>
        一次創作メイン。<br />
        性別不定多いです。同性愛あります。世界滅びます。<br />
      </p>
      <p>
        リンクはご自由にどうぞ。バナーはお持ち帰りで。<br />
        サイト名: 北極の とある倉庫<br />
        サイトアドレス: https://novel.manasas.dev/
      </p>
      <Image src={BannerImage} alt="バナー" />
    </div>
    <hr />
    <div class="inner">
      <Title text="管理人" />
      <p>まなさす</p>
      <Title text="SNS" />
      <p>
        <ul>
          <li>
            <a href="https://fedibird.com/@thetalemon/" target="_blank"
              >fedibird（本拠地）</a
            >
          </li>
          <li>
            <a href="https://bsky.app/profile/manasas.dev" target="_blank"
              >Bluesky</a
            >
          </li>
        </ul>
      </p>
    </div>
    <hr />
    <div class="inner">
      <Title text="サーチ" />
      <ImageLinkList list={SearchLinks} />
    </div>
    <hr />
    <div class="inner">
      <Title text="同盟" />
      <ImageLinkList list={DoumeiLinks} />
    </div>
  </Card>
</Layout>

<style lang="scss">
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5px;
  }
  p {
    line-height: 1.2;
  }
  .inner {
    width: 90%;
    margin: 0 auto;
  }
</style>
