---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import History from "../feature/History.astro";
import NovelList from "../components/NovelList.astro";
---

<DefaultLayout
  title="北極の とある倉庫"
  cardTextColor={"rgb(9, 51, 58);"}
  cardBgColor={"rgba(181, 184, 199, 0.9);"}
  bgColor={"3, 7, 19"}
  bgUrl={"url('/bg/top.webp')"}
  isTop={true}
>
  <h1>北極の とある倉庫</h1>
  <p>まなさすの創作まとめサイト。</p>
  <p>🌟 このサイトは性別を超越した装いと愛に溢れています 🌟</p>
  <hr />
  <h2>-- 更新履歴 --</h2>
  <History />
  <hr />
  <NovelList />
  <hr />
  <p>このサイトの背景はBing Image Creatorで生成しています</p>
  <p>
    アイコンは <a href="https://neko.moo.jp/BS/" target="_blank">
      化け猫缶素材屋</a
    > さんからお借りしました
  </p>

  <hr />
  <h4>バナー</h4>
  <p>リンクフリー・アンリンクフリー・直リンクNG</p>
  <p><img src="/banner.png" /></p>

  <p>
    <a href="https://manasas.dev" rel="me" target="_blank"
      ><img src="/icon/profile.gif" /></a
    >
  </p>
</DefaultLayout>

<style lang="scss">
  h1 {
    text-align: center;
  }
  hr {
    width: 75%;
  }
</style>
