---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import TabiTop from '@/components/log/TabiTop.astro'
---

<Layout title="旅といちにち 0日目">
  <Card>
    <h1>旅といちにち 0日目</h1>
    <p>旅に出ることにした。</p>
    <p>
      ここにいてもどうしようもないような閉塞感に襲われたから、旅に出ることにした。
    </p>
    <p class="main">
      もうここに戻ってくることはきっとない。出ていくことを隣家に伝えると、そうか、とだけ答えられた。家に残すものは好きに使ってほしい、家も好きに使ってくれ、と伝えた。状態は悪くない家だから、彼らの家のチビどもが大きくなるころにデカくなったチビたちの家にでもなればいいと思う。
      <br />
      バンに必要なものだけを詰め込んだ。世話になった人たちに出立を告げたら餞別をいくらももらってしまった。まあいいだろう。こういう機会にしかもらえないだろうから、こういう機会もこの先二度と来ないかもしれないから、もらっていこう。ここの人たちともお別れだ。
    </p>
    <p>さよなら、愛した人の、愛した土地。</p>

    <p class="next">
      Next: <a href="/log/tabi/day1">1日目</a>
    </p>
    <TabiTop />
  </Card>
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  p {
    line-height: 1.8;
  }
  .main {
    margin: 40px 0;
  }
  .next {
    margin-top: 48px;
    text-align: center;
  }
</style>
