---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
---

<Layout title="旅といちにち 1日目">
  <Card>
    <h1>旅といちにち 1日目</h1>
    <div class="main">
      <p>
        旅に出てすぐ山岳地帯についた。あの集落は山の上にあるから、どっちに行っても山岳なのだ。少しでもハンドリングを間違えたら転げ落ちて戻ってはこれないだろう。旅のはじまりからスリリングでいいじゃないか。そう思いながらギリギリを走っていく。
      </p>

      <p>
        山の中に小さなお社を発見する。管理している人は今はいないようだが、社の具合や落ち葉の積もり方からしてここ1月以内に誰かが来たのだろうという感じがする。社の横にバンを止めて、バンの後ろで食糧を探す。
      </p>

      <p>
        視線を感じて横に目をやると、じ、っとこちらを見る存在があった。禍々しい目をしたそれらは見えない何かに張り付いたような姿でこちらを見ている。パントマイムごっこをしているのでなければ、こちらには来れないのだろう。
      </p>

      <p>
        そうか、村を出るとはこういう存在にも出会うということか、と思った。なんとなくお社で止めたが、そうでなければ1日目で旅は終了になっていたかもしれない。逃げるかどうか考えたが、どうやらこちらに入れないのは確定のようなのでこのままここで食事をしていくことにした。<br
        />
        視線が鬱陶しいのでテントをはる。持ってきてよかった。食事が終わってもそれらはこちらを見ていた。ここの主に対処を教えてもらってから進もうか。こういうのがどのくらいいるのかわからないが、旅に出て早々出てくるくらいなのだから、きっとこの先何度も出会うのだろう。
      </p>
      <p>
        しばらくここで野営をすることにした。引き返せるようなところで留まるのもどうかと思ったが、そのくらいで決意が鈍るのであれば、戻った方が良いのだろう。村の方を見ようとしたが、禍々しいものと目があったので、そっと村と反対、これから進む方向を見た。ら、向こうにも禍々しいものがいた。ここを管理する人も大変だなあ。
      </p>
    </div>
    <p class="next">Next: to be continued...</p>
    <p class="logTop"><a href="/log/tabi">旅といちにち</a></p>
    <hr />
    <div class="settings">
      <h2>今回の出目</h2>
      <p>人通りがある山岳</p>
      <p>危険度: 4</p>
      <p>多くの人外・魔物に遭遇した。</p>
    </div>
  </Card>
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .settings {
    padding: 16px;
    p {
      line-height: 1.4;
      margin: 0;
    }
  }
  hr {
    width: 100%;
    margin: 40px 0;
  }
  .next {
    margin-top: 48px;
    text-align: center;
  }
  .logTop {
    text-align: center;
    margin-top: 24px;
  }
</style>
