<div class="card">
  <slot />
</div>

<style>
  .card {
    background: rgba(var(--cardBgColor), 0.9);
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 16px;
    border-radius: 8px;
    color: rgb(var(--cardTextColor));
    width: calc(100% - 16px * 2);
  }
</style>
