<div class="card">
  <slot />
</div>

<style>
  .card {
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 16px;
    border-radius: 8px;
    color: rgb(var(--textColor));
    width: calc(100% - 16px * 2);
  }
</style>
