---
import Icon from '@/components/Icon.astro'
const isTop = Astro.url.pathname === '/'
---

{
  !isTop && (
    <div class="returnButton">
      <a href="/">
        <Icon type="return" />
      </a>
    </div>
  )
}
<footer>
  <a href="https://manasas.dev" rel="me" target="_blank">© manasas</a>
</footer>

<style lang="scss">
  .returnButton {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }

  footer {
    margin-top: 40px;
    text-align: center;
    padding: 2px 0;
    background: rgb(var(--cardBgColor));
    a {
      mix-blend-mode: luminosity;
      color: rgb(var(--linkColor));
      text-decoration: none;
    }
  }
</style>
