---
import { Icon } from 'astro-icon/components'
---

<script>
  import { COLORS_LIST } from '@/constants/colors'
  const COLOR_MODE = COLORS_LIST.map((color) => color.slug)
  type ColorMode = (typeof COLOR_MODE)[number]

  const setColor = (slug: ColorMode) => {
    const ElementBody = document.querySelector('body')
    const target = COLORS_LIST.filter((color) => color.slug === slug)[0]
    const COLOR_VARIABLE_LIST = [
      { name: 'bgColor', value: target.bgColor },
      { name: 'textColor', value: target.textColor },
      { name: 'linkColor', value: target.linkColor },
    ]

    COLOR_VARIABLE_LIST.forEach((item) => {
      ElementBody?.style.setProperty(`--${item.name}`, item.value)
    })
  }

  const setColorMode = () => {
    const getColorMode = () => {
      const lsColorMode = localStorage.getItem('color')
      if (!lsColorMode) return COLOR_MODE[0] as ColorMode
      if (COLOR_MODE.includes(lsColorMode)) {
        return lsColorMode as ColorMode
      }
      return COLOR_MODE[0] as ColorMode
    }

    let currentColorMode = getColorMode()
    setColor(currentColorMode)
    const ElementChangeColorMode = document.querySelector<HTMLButtonElement>(
      '.js-colorModeChange',
    )

    if (ElementChangeColorMode !== null) {
      ElementChangeColorMode.addEventListener('click', () => {
        const setMode = currentColorMode === 'dark' ? 'light' : 'dark'
        currentColorMode = setMode
        localStorage.setItem('color', setMode)
        setColor(setMode)
      })
    }
  }

  setColorMode()
  document.addEventListener('astro:after-swap', setColorMode)
</script>

<header>
  <div class="inner">
    <button
      class="js-colorModeChange buttonColorMode"
      aria-label="ダークモード・ライトモード変更"
    >
      <Icon name="sun" />
    </button>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: center;
    margin: 16px 0;
    .inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 80%;
      max-width: 750px;

      [data-icon='sun'],
      [data-icon='moon'] {
        width: 32px;
        height: 32px;
        color: rgb(var(--textColor));
      }
    }
  }
</style>
