---
import { Image } from 'astro:assets'

export interface Props {
  list: {
    path: string
    img: ImageMetadata
    alt: string
  }[]
}

const { list } = Astro.props
---

<ul>
  {
    list.map((item) => {
      return (
        <li>
          <a href={item.path}>
            <Image src={item.img} alt={item.alt} width={150} height={150} />
          </a>
        </li>
      )
    })
  }
</ul>

<style lang="scss">
  ul {
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    li {
      margin: 0;
      height: 120px;
      width: 120px;
      overflow: hidden;
      border-radius: 6px;

      a {
        img {
          height: 120px;
          width: 120px;
          object-fit: cover;
          transition: 0.5s all;
          &:hover {
            transform: scale(1.3, 1.3);
          }
        }
      }
    }
  }
</style>
