---
import { NOVEL_LIST } from "@/data/novel";

const isMenu = Astro.url.pathname !== "/";
---

<style lang="scss">
  .menu {
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 8px;
    color: rgba(55, 55, 55, 0.75);

    h2 {
      text-align: left;
      font-size: 1.5rem;
      margin: 0.3rem 0 1rem 0;
    }

    h3 {
      text-align: left;
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }

    ul {
      margin: 0.5rem 0;
      li {
        text-align: left;
        margin: 0.5rem 0rem 0.5rem 1.25rem;
        a {
          color: rgba(54, 125, 167, 0.8);
        }

        &.current {
          display: flex;
          align-items: center;
          margin-left: 0;

          &::before {
            content: "";
            display: inline-block;
            background: rgba(55, 55, 55, 0.75);
            border-radius: 50%;
            width: 0.75rem;
            height: 0.75rem;
            flex-shrink: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
</style>

<div class={isMenu ? "menu" : ""}>
  <h2>Novel</h2>
  {
    NOVEL_LIST.map(({ title, stories }) => (
      <>
        <h3>{title}</h3>
        <ul class="novelList">
          {stories.map(({ title, href }) => {
            return Astro.url.pathname === href ? (
              <li class="current">{title}</li>
            ) : (
              <li>
                <a href={href}>{title}</a>
              </li>
            );
          })}
        </ul>
      </>
    ))
  }
</div>
