<style lang="scss">
  a {
    display: block;
    margin-top: 42px;
    text-align: center;
    img {
      width: 42px;
      height: 42px;
    }
  }
</style>

<a href="/"><img src="/icon/return.gif" /></a>
