---
import Title from '@/components/Title.astro'
import { Image } from 'astro:assets'
import BannerImage from './_banner.png'
---

<div class="root">
  <Title text="バナー" />
  <p>リンクフリー・アンリンクフリー・直リンクNG</p>
  <Image src={BannerImage} alt="バナー" />
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
  }
  img {
    margin-top: 16px;
  }
</style>
