---
import { getCharacterList } from "@/lib/newt/character";
import { Image } from "astro:assets";
import { NewtImage2AstroImage } from "@/utils/imageHepler";

const characterList = await getCharacterList();
---

<div class="root">
  <h2>キャラ一覧</h2>
  <ul>
    {
      characterList.map((item) => {
        const path = `/character/${item.slug}/`;
        const img: ImageMetadata = NewtImage2AstroImage(item.image);

        return (
          <li>
            <a href={path}>
              <Image src={img} alt={item.name} width={150} height={150} />
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    text-align: left;
    font-size: 1.5rem;
    margin: 0.3rem 0 1rem 0;
  }

  ul {
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    li {
      margin: 0;

      a {
        color: var(--cardTextColor);
        img {
          height: 150px;
          width: 150px;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
</style>
