---
import { getHistoryList } from "@/lib/newt/notify";
import { Image } from "astro:assets";
import { format } from "date-fns";
import RssIcon from "@/feature/icons/rss.svg";
import ja from "date-fns/locale/ja/index.js";
const formatDate = (value: string) =>
  format(new Date(value), "yyyy-MM-dd", {
    locale: ja,
  });

const historyList = await getHistoryList();
---

<div class="root">
  <h2>
    更新履歴 <a href="/feed" target="_blank"
      ><Image src={RssIcon} alt="rss" /></a
    >
  </h2>
  <ul>
    {
      historyList.map((item) => (
        <li>
          <div class="date">
            <a href={`/notify/${item.slug}`}>{formatDate(item.date)}</a>
          </div>
          <div set:html={item.message} />
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
    h2 {
      img {
        width: 1rem;
        height: 1rem;
        opacity: 0.75;
        margin-left: 0.5rem;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        display: flex;
        margin: 0;
        gap: 1rem;
        align-items: baseline;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0;
          margin: 1rem 0 0 0;
          .date {
            font-weight: bold;
          }
        }
        p {
          margin: 0;
        }
        .date {
          flex-shrink: 0;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
</style>

<style lang="scss" is:global>
  p {
    margin: 0;
    text-align: left;
  }
</style>
