---
import { getHistoryList } from '@/lib/newt/notify'
import { getDate } from '@/utils/dateHelper'
import { Icon } from 'astro-icon/components'

const historyList = await getHistoryList()
---

<div class="root">
  <h2>
    更新履歴 <a href="/feed.xml" target="_blank" aria-label="RSS"
      ><Icon name="rss" /></a
    >
  </h2>
  <ul>
    {
      historyList.map((item) => (
        <li>
          <div class="date">
            <a href={`/notify/${item.slug}`}>{getDate(item.date)}</a>
          </div>
          <div class="historyItem" set:html={item.message} />
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
    h2 {
      [data-icon='rss'] {
        width: 1rem;
        height: 1rem;
        opacity: 0.75;
        margin-left: 0.5rem;
        color: rgb(var(--cardTextColor));
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        display: flex;
        margin: 0;
        gap: 1rem;
        align-items: baseline;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0;
          margin: 1rem 0 0 0;
          .date {
            font-weight: bold;
          }
        }
        .date {
          flex-shrink: 0;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
</style>

<style lang="scss" is:global>
  .historyItem {
    p {
      margin: 0;
    }
  }
</style>
