---
import { getHistoryList } from "@/lib/newt/notify";
import { format } from "date-fns";
import ja from "date-fns/locale/ja/index.js";
const formatDate = (value: string) =>
  format(new Date(value), "yyyy-MM-dd", {
    locale: ja,
  });

const historyList = await getHistoryList();
---

<ul class="root">
  {
    historyList.map((item) => (
      <li>
        <div class="date">{formatDate(item.date)} </div>
        <div set:html={item.message}/>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .root {
    width: 90%;
    margin: 0 auto;
    li {
      display: flex;
      margin-left: 1rem;
      gap: 0.5rem;
      align-items: baseline;
      p {
        margin: 0;
      }
      .date {
        flex-shrink: 0;
      }
    }
  }
</style>

<style lang="scss" is:global>
  p {
    margin: 0;
    text-align: left;
  }
</style>
