---

---

<div class="topMenu">
  <h2>ソロジャーナルログ</h2>
  <ul>
    <li>
      <a href={`log/tabi`}>旅といちにち</a>
    </li>
  </ul>
</div>

<style lang="scss">
  .topMenu {
    width: 90%;
    margin: 0 auto;
    li {
      margin-left: 1rem;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
</style>
