---
import Card from '@/components/Card.astro'
import NovelList from '@/feature/NovelList.astro'

interface Props {
  class: string
}
const { class: className } = Astro.props
---

<div class:list={[className]}>
  <Card>
    <NovelList />
  </Card>
</div>
