<div class='topMenu'>
  <h2>短歌</h2>
  <h3>推し活短歌</h3>
  <ul class='novelList'>
    <li>
      <a href='/tanka/2024summer'>SUMMER TOUR 2024</a>
    </li>
  </ul>
</div>

<style lang='scss'>
  .topMenu {
    width: 90%;
    margin: 0 auto;
    li {
      margin-left: 1rem;
    }
    ul {
      margin-bottom: 2rem;
    }
  }
</style>
