---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import Menu from '@/components/feature/Menu.astro'

const title = '4月の嘘は伝わらない'
---

<Layout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/2025april1.png`}
>
  <Card>
    <h1>{title}</h1>
    <div class="novel">
      <p>
        いつも通り店の裏口の扉を開くと、そこには見たことのないピンクのロリィタ服を身に纏った美少女が居た。
        <br />
        店間違えた！？と思いつつ内装はいつもの店なので戸惑っていると、少女が振り向く。
      </p>
      <p>「どうしたの」</p>
      <p>
        あまりに聞きなれた声だ。しかし聞きなれた声の主はロリィタなんて着るはずもないはずだ。
      </p>
      <p>
        「いずみ？」<br />
        「そう。どうかな」
      </p>
      <p>
        いずみはその場で1回転して見せる。フリルで飾られた裾がひらめく。いずみに対してかわいいという言葉はアリなのか迷って迷って
      </p>
      <p>「似合うけども、どうしたの？」</p>
      <p>とりあえず入って、扉を閉める。</p>
      <p>
        「今日は4月1日だから、冗談みたいな服を着てみようと思って。りいの分もあるよ。どっちにする？」
      </p>
      <p>
        そういっていずみが指さしたのは2体のマネキン。お揃いのピンクのロリィタと、ホワイトのウエストコートに黒いシャツの衣装を提示する。
      </p>
      <p>
        「別にいつもの服でもいいけど」<br />
        「いずみのおすすめは？」
      </p>
      <p>
        いずみはじっとわたしの目を見て数秒考えたあと、服を数秒見て、またこちらを振り返る。
      </p>
      <p>
        「りいに自分で選んで欲しいな。自分的に、冗談みたいな服だと思う方を」
        <br />
        「でもこれ、いずみがつくったやつでしょう」<br />
        「そうだね」<br />
        「わたしはいずみがつくったものなら、どれも冗談みたいとは思わないよ」
      </p>
      <p>いずみが目を見開く。そして柔らかく笑った。</p>
      <p>
        「さすがウチのモデル。なら、好きな方で」<br />
        「んー。どっちも好きだけど、今日のいずみがそれなら、こっちかな」
      </p>
      <p>白のウエストコートの方を指さす。</p>
      <p>
        「いいね。普段の服ともがらっと変わるし、お客さんも驚いてくれると思う。さ、着替えてきて」
        <br />
        「はーい」
      </p>
      <p>マネキンごと持って、更衣室に入る。</p>
      <hr />
      <p>りいが更衣室に行った後、残ったピンクのロリィタを眺める。</p>
      <p>
        最初はりいには男性的な衣装の方だけを提示するつもりだった。それだとりいが嫌がるかもしれない、そう思ってこちらも用意したのだ。普段のりいが着ているクラシックなドレスからは離れた甘いロリィタを。
      </p>
      <p>
        4月についた嘘は叶わない。そういう話もある。いっそ叶わなくなってしまえばいいと思ったのだ、女の子であった頃からのずっとずっと長年の恨みの象徴であるピンクのワンピースなんて、着れなくなってしまえばいいと思ったのだ。りいだって、ずっと好きな服を着ればいい。りいの大好きな濃い色のシンプルなワンピースばかり着てもいいのだ。<br
        />
        りいが私のために、彼が元々やっていた仕事を続けているのは知っている。それが助かっているのもどうしようもない事実で、だから、やめればいいなんてどうしても言えなくて、だけど、願いを託すくらいはいいかしら、と思っていたのだ。ちょっとした、すこしたちのわるい、いたずらだ。
      </p>
      <p>なのに、</p>
      <p>「わたしがつくったものなら、どれも冗談みたいと思わない、なんてね」</p>
      <p>
        りいは私の服のモデルをやってくれるのもあるのだろうけども、でも確かに、私はどれひとつとして、冗談で作っているわけではない。丹精込めて作っている。売り物なのだから。<br
        />
        確かに私自身が着ることはあり得ない服だが、冗談みたい、というのは、よくない表現だったかもしれない。自分がつくるものはどうしても蔑ろに評価してしまいがちになる。そういう時に、りいの存在は本当にありがたい。自分自身で、自分の作ったものを、きちんと肯定できるのが1番なんだろうけども。どうしても忘れてしまいがちになる。お客さんに売るのだから、ちゃんと私が自信を持たないと。ぱん、とスカートをたたいて、気合をいれる。
      </p>
      <p>
        今日の開店前の紅茶は、りいが好きなやつにしよう。そう考えながら給湯室の棚を開けた。
      </p>
      <hr />
      <p>黒のワイシャツに袖を通しながら考える。</p>
      <p>今日のいずみはかわいい！！</p>
      <p>
        だがいずみは中性的な服装を好んで着ている。ロリィタの衣装を作ること自体は好きであるらしいのだが、自分が着るのはまっぴらごめんだと言っていた。そんないずみに『かわいい』という評価は褒め言葉となるのだろうか。あるいは、そんなん言われても全く嬉しくないとなってしまうだろうか。いや、まったく嬉しくないくらいならまだいい、不愉快に思われたら嫌だなと思う。その前に、似合うでよかったのだろうか。いずみは『似合いたくない』のではないだろうか。そんなことをぐるぐる考える。
        <br />
        いつもの服の方がいずみらしいとは思う。でも、この服も似合うということをなんとか伝えたい。
        <br />
        正直な気持ちを言ってしまうと、あの服は、自分には、どうやっても似合わないのだ。身長的に。そして、いずみはそれを着れるのだろうと、薄々思っていた。甘めのロリィタを見るたびに、自分は似合わないだろうけど、いずみなら似合うんだろうなあ、と思っていた。でも、いずみは嫌なんだろうな、とも思っていたから、言わなかった。
      </p>
      <p>
        人とはままならないものだなあ、と思う。いずみの顧客のひとりである真砂も、小柄で、かわいい服が似合うタイプだ。自分はどうやったって、似合わないのにな。いいな。と思う。
        <br />
        着たい服と、似合う服は一致するわけではないのだ。でも、似合うけど着たくないのであれば、強要はできないし。でも、いずみが着たくないのだとしても、それを着ているいずみがかわいいということくらいは伝えても良いだろうか。
      </p>
      <p>
        とかとか考えているうちに、着替えが終わり、メイクも終わった。久しぶりに男性らしいがっつりメイクをしたが、わりとよくできている。仕事の時はここまでがっつりしないからなあ。
      </p>
      <p>
        ワンピースやロングスカートを着る方が好きだが、実は男性服を着ている自分もわりと嫌いではない。自分の骨ばった骨格は男性服の方が似合うし、体型を隠さなくていいし、これはこれで結構楽なのだ。4月1日だけと言わず、たまには男性服で店に出てもいいかもなあ。今度いずみに話してみよう。
      </p>
      <p>そう思いながら更衣室の扉を開けると、紅茶の良い香りがした。</p>
    </div>
  </Card>
  <Menu class="menu" />
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  hr {
    width: 100%;
    border: 1px #ccc solid;
  }
  .novel {
    margin: 0 1rem;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    p {
      margin: 2rem 0;
      line-height: 2;
    }
    img {
      width: 100%;
    }
  }
</style>

<style lang="scss" is:global>
  .menu {
    margin-top: 40px;
  }
</style>
