---
import NovelLayout from "@/layouts/NovelLayout.astro";
import { getDetailNovelList } from "@/lib/newt/novel";

export const getStaticPaths = async () => {
  const novels = await getDetailNovelList();
  return novels.map((novel) => ({
    params: { slug: novel.slug },
    props: { novel },
  }));
};
const { novel } = Astro.props;
---

<NovelLayout
  title={novel.title}
  ogImage={`https://novel.manasas.dev/novel/og/${novel.slug}.png`}
>
  <h1>{novel.title}</h1>
  <article set:html={novel.body} />
</NovelLayout>

<style lang="scss">
  .link {
    margin-top: 2rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
</style>
