---
import Layout from '@/layouts/Layout.astro'
import { getDetailNovelList } from '@/lib/newt/novel'
import Card from '@/components/Card.astro'
import Menu from '@/feature/Menu.astro'

export const getStaticPaths = async () => {
  const novels = await getDetailNovelList()
  return novels.map((novel) => ({
    params: { slug: novel.slug },
    props: { novel },
  }))
}
const { novel } = Astro.props
---

<Layout
  title={novel.title}
  ogImage={`https://novel.manasas.dev/novel/og/${novel.slug}.png`}
>
  <Card>
    <h1>{novel.title}</h1>
    <div class="novel" set:html={novel.body} />
  </Card>
  <Menu class="menu" />
</Layout>

<style lang="scss">
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
</style>

<style lang="scss" is:global>
  .menu {
    margin-top: 40px;
  }

  .novel {
    img {
      width: 100%;
    }
  }
</style>
