<div class='controller js-bar'></div>

<style lang='scss'>
  .controller {
    margin-top: 2rem;
    background: linear-gradient(
      90deg,
      rgba(161, 27, 150, 0.5) 0%,
      rgba(182, 70, 171, 0.5) 10%,
      rgba(201, 112, 192, 0.5) 40%,
      rgba(236, 162, 229, 0.5) 100%
    );
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: all ease-out 1s;
  }
</style>
