---
import { Image } from 'astro:assets'
import ImgLoading from '@/img/Loading.svg'
---

<script>
  document.addEventListener('astro:page-load', () => {
    setTimeout(() => {
      document.querySelector('.js-load')?.classList.add('hide')
    }, 180)
  })
</script>

<div class="js-load load">
  <div>
    <Image src={ImgLoading} alt="loading" width={290} />
  </div>
</div>

<style lang="scss">
  .load {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(163, 82, 156, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    transition: all 1s;
    &.hide {
      left: 150vw;
    }
  }
</style>
