---
import { Prev, Next } from '@/classes/tanka'
---

<div class=`arrow-wrapper prev ${Prev.getClassName()}`>
  <div class='arrow'></div>
</div>
<div class=`arrow-wrapper next ${Next.getClassName()}`>
  <div class='arrow'></div>
</div>

<style lang="scss">
  .arrow-wrapper {
    height: 100%;
    position: absolute;
    width: 50px;

    .arrow {
      position: absolute;
      top: 50%;
      background: rgba(163, 82, 156, 0.5);
      cursor: pointer;
      width: 30px;
      height: 30px;
      clip-path: polygon(0 0, 45% 50%, 0 100%);
    }

    
    &.prev {
      left: 0;
      .arrow {
        left: 0;
        transform: rotate(180deg) translateY(50%);
      }
    }

    &.next {
      right: 0;
      .arrow {
        right: 0;
        transform: rotate(0) translateY(-50%);
      }
    }
  }
</style>
