<div class='prev js-prev'></div>
<div class='next js-next'></div>
<style lang='scss'>
  .prev,
  .next {
    position: absolute;
    top: 50%;
    background: rgba(163, 82, 156, 0.5);
    cursor: pointer;
    width: 20px;
    height: 30px;
    clip-path: polygon(0 0, 45% 50%, 0 100%);
  }

  .prev {
    left: 0;
    transform: rotate(180deg) translateY(50%);
  }

  .next {
    right: 0;
    transform: rotate(0) translateY(-50%);
  }
</style>
