---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const memoEntries = await getCollection('memo')

function formatDate(day: string): string {
  try {
    return new Date(day).toLocaleDateString('ja-JP')
  } catch {
    return day
  }
}
---

<Layout title="Memo">
  <h1>Memo</h1>
  <p>創作小ネタとかifとかそういうもの</p>
  <ul>
    {
      memoEntries
        .sort(
          (a, b) =>
            new Date(String(b.data?.pubDate)).getTime() -
            new Date(String(a.data?.pubDate)).getTime(),
        )
        .map((post) => (
          <li>
            <a href={`/memo/${post.id}`}>{post.data?.title}</a>
            <small> — {formatDate(String(post.data?.pubDate))}</small>
            <small> {post.data?.tags?.join(', ')} </small>
          </li>
        ))
    }
  </ul>
</Layout>
