---
import { styleHelper } from '@/utils/styleHelper'
import Header from '@/components/Header.astro'
import Head from '@/layouts/components/head.astro'
import { COLORS_LIST } from '@/constants/colors'
import Footer from '@/components/Footer.astro'
import '@/styles/global.scss'

export interface Props {
  title: string
  ogImage?: string
}

const { title, ogImage } = Astro.props

const defaultColor = COLORS_LIST[2]

const STYLE = styleHelper([
  { name: 'bgColor', value: defaultColor.bgColor },
  { name: 'cardTextColor', value: defaultColor.cardTextColor },
  { name: 'cardBgColor', value: defaultColor.cardBgColor },
  { name: 'linkColor', value: defaultColor.linkColor },
])
---

<html lang="ja">
  <Head title={title} ogImage={ogImage} />
  <body style={STYLE}>
    <Header />
    <main>
      <article class="content">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 750px;
  }
</style>
