---
import Header from '@/components/Header.astro'
import Head from '@/layouts/components/Head.astro'
import Body from '@/layouts/components/Body.astro'
import Footer from '@/components/Footer.astro'
import Card from '@/components/Card.astro'
import '@/styles/global.scss'

export interface Props {
  title: string
  ogImage?: string
}

const { title, ogImage } = Astro.props
---

<html lang="ja">
  <Head title={title} ogImage={ogImage} />
  <Body>
    <main>
      <article class="content">
        <Card>
          <slot />
        </Card>
      </article>
    </main>
    <Footer />
  </Body>
</html>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 750px;
  }
</style>
