---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import ReturnButton from "@/components/ReturnButton.astro";

export interface Props {
  title: string;
  ogImage?: string;
}

const isTop = Astro.url.pathname === "/";

const { title, ogImage } = Astro.props;
---

<Layout title={title} ogImage={ogImage}>
  <main>
    <div class="wrapper">
      <Card>
        <slot />
      </Card>
      {!isTop && <ReturnButton />}
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px;
    min-height: calc(100vh - 40px * 2);

    .wrapper {
      width: 90%;
      max-width: 750px;
    }
  }
</style>
