---
import NovelLayout from '@/layouts/NovelLayout.astro'

const title = '真朱の1日-夏の手前-'
---

<NovelLayout
  title={title}
  ogImage={`https://novel.manasas.dev/og/novel/syumaji/shinsyunoichinichi.png`}
>
  <p>今日も空は空色をしている。</p>
  <br />
  <br />
  <br />

  <p>
    朝起きて、縁側に通じるふすまを開ける。朝日に少し目を細めて、今日も空が空色であることを実感してから、洗面所へ。
  </p>

  <p>はみがきして、顔を洗って、身なりを整えて、畑に向かう。</p>

  <p>
    今日も畑は緑だ。紫陽花はドライフラワーとなった頃。降り続けた雨の中で育った、もうすぐ収穫期を迎える夏野菜たちが、元気な葉っぱをそよぐ風になびかせている。
  </p>

  <p>
    立てた支柱に巻き付いたつる。元気に育ったなあ、なんて思いながら畑を巡り、丹精こめて育てた野菜を食べんとする虫を拾う。
  </p>

  <p>美味しいからね、虫も食べたくなるのはわかるけども。</p>

  <p>
    虫たちを畑の奥の鶏小屋にぽいっとする。鶏たちが我先にと餌を奪い合うのをほほえましく眺めて、穀物も餌箱に流しいれる。
  </p>
  <br />
  <br />

  <p>昔住んでいた場所は、ちいさなちいさな孤島だった。</p>

  <p>
    孤島にも畑があったが、小さな島だったので土がちょっと塩気があったのか、トマトやキュウリなんかは育たなかった。
  </p>

  <p>
    屋内の栽培施設で育てられたトマトやキュウリも美味しかったし、きっとそっちの方が清潔なのだろうけども、自分は地面から育つ野菜たちのことが好きだ。
  </p>

  <p>
    大地のめぐみ、なんていうとありきたりだが、なんというか、『栄養もコントロールしていない土で育つ』ということがたまらなく愛おしいのだ。
  </p>
  <br />
  <br />

  <p>
    鶏小屋から卵を回収する。孤島にも鶏はいた。人工飼料で、人工的な工場みたいなところで育てられた鶏たち。
  </p>

  <p>
    これも、虫を奪い合って土をつついて餌を探して生きた鶏は、また違う神秘を感じて愛おしいのだ。
  </p>

  <p>
    孤島にいた時は正直鶏を命あるものだとあまり思っていなかった。今の自分にとってはたまらなく愛おしく、大切で、大事で、尊い、命だ。
  </p>

  <p>
    卵を撫でながら、また畑をぐるっと見て戻る。自分の朝食用も兼ねてちょっと間引いたりしながら、家に戻る。
  </p>

  <p>
    孤島の家が嵐に襲われた時はどうなることかと思ったが、ほんとう、これはこれで、いいなあ。
  </p>

  <br />
  <p>ずっとこの生活がいいなあ。と思いながら、台所に続く戸を開いた。</p>
</NovelLayout>
